<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsj.canal.dao.ProductMapper">

    <resultMap id="myProduct" type="com.jsj.api.entity.ProductDO">
        <!--
        column:表里面指定的列
        property：对应的javaBean属性
        如果不指定就自动封装，但仍然建议写上全部映射规则
        -->
        <id column="id" property="id"/>
        <result column="stock" property="stock"/>
        <result column="price" property="price"/>
        <result column="product_name" property="productName"/>
        <result column="version_id" property="versionId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getAllStock" resultMap="myProduct">
        select id,stock from tb_product
        limit #{start},#{end}
    </select>

</mapper>