server:
  port: 8200
spring:
  application:
    name: api-gateway
eureka:
  instance:
    # 指定该Eureka实例的主机名
    hostname: localhost
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:1112/eureka/
zuul:
  host:
    connect-timeout-millis: 10000
    socket-timeout-millis: 60000
  routes:
    panic-buy-service:
      path: /panic-buy-service/buy/**
      serviceId: panic-buy-service

hystrix:
  metrics:
    enabled: true
  command:
    default:
      execution:
        timeout:
          enabled: false
        isolation:
          thread:
            timeoutInMilliseconds: 12000 
                  
ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000