<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsj.dao.RecordPoMapper">

    <resultMap id="myRecord" type="recordPO">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="user_id" property="userId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getRecordById" resultMap="myRecord">
        select * from tb_record
        <where>
            id=#{id}
        </where>
    </select>

    <select id="getAllRecords" resultMap="myRecord">
        select * from tb_record
    </select>

    <insert id="addRecord" useGeneratedKeys="true" keyProperty="id">
        insert into tb_record(user_id, product_id, state,create_time)
        values(#{userId}, #{productId}, #{state},#{createTime})
    </insert>

</mapper>